$mainFontFamily: 'Tajawal', sans-serif;
$headingFontFamily: 'Tajawal', sans-serif;

$primary  :#0F6DAE;
$primary-light  :#1798f5;
$primary-dark  :#0c4d7a;
$light : white;
$off-light : #fafafa;
$dark : black;
$body-dark:#6b6b84;
$light-grey:#eee;

$trans-250: 0.25s all ease;